<ng-container *ngIf="!message; else messageContainer">
  <p>
    Herzlich willkommen,<br><br>
    zum BOOST Award. Nach Angabe deiner E-Mail Adresse senden wir dir einen Link zu, welcher dir
    den Zugang zur Abstimmung ermöglicht.
  </p>
  <form [formGroup]="fg" (ngSubmit)="fg.valid && submit()">
    <mat-form-field appearance="fill">
      <mat-label>E-Mail Adresse</mat-label>
      <input matInput formControlName="email" autocomplete="email" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Zugang anfordern</button>
  </form>
</ng-container>

<ng-template #messageContainer>
  <p id="message">{{ message }}</p>
</ng-template>