// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

$persian-green: (50 : #e4eaea,
  100 : #bccaca,
  200 : #90a6a7,
  300 : #648283,
  400 : #426869,
  500 : #214d4e,
  600 : #1d4647,
  700 : #183d3d,
  800 : #143435,
  900 : #0b2525,
  A100 : #63ffff,
  A200 : #30ffff,
  A400 : #00fcfc,
  A700 : #00e3e3,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$milon-primary: mat-palette($persian-green);

// The warn palette is optional (defaults to red).
$milon-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$milon-theme: mat-light-theme($milon-primary, $milon-primary, $milon-warn);

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
