<p>
  Herzlich willkommen,<br><br>
  zur Abstimmung zum BOOST Award 2019. Bitte wählen Sie die Plätze 1 bis 3 aus. IHRE STIMME ZÄHLT!
</p>

<ng-container *ngFor="let participant of participants$ | async">
  <milon-participant-entry [milon-participant]="participant" (milon-vote)="vote(participant, $event)"
    [milon-votes]="votes$ | async"></milon-participant-entry>
</ng-container>

<ng-container *ngIf="voted$ | async">
  <section class="finish">
    <button (click)="finish()" color="primary" mat-raised-button class="desktop">
      <mat-icon>&#xe877;</mat-icon>&nbsp;Abstimmung abschließen
    </button>
  </section>
  <button (click)="finish()" mat-fab class="finish-mobile">
    <mat-icon>&#xe877;</mat-icon>
  </button>
</ng-container>

<div *ngIf="finished" class="finish-overlay"></div>
