<p>
  Du entscheidest, welcher Gründer das Finale des BOOST Award 2019 gewinnt. Stimme jetzt ab und wähle deinen Favoriten.<br>
  Danke, dass du dich an der Abstimmung des milon BOOST Award beteiligst.
</p>

<ng-container *ngFor="let participant of participants$ | async">
  <milon-participant-entry [milon-participant]="participant" (milon-vote)="vote(participant, $event)"
    [milon-vote]="vote$ | async"></milon-participant-entry>
</ng-container>

<ng-container *ngIf="voted$ | async">
  <section class="finish">
    <button (click)="finish()" color="primary" mat-raised-button class="desktop">
      <mat-icon>&#xe877;</mat-icon>&nbsp;Abstimmung abschließen
    </button>
  </section>
  <button (click)="finish()" mat-fab class="finish-mobile">
    <mat-icon>&#xe877;</mat-icon>
  </button>
</ng-container>

<div *ngIf="finished" class="finish-overlay"></div>
