:host {
  display: block;
}

.mat-toolbar {
  background: transparent;
  display: flex;
  flex-direction: row;
  height: 94px;
  margin: 0 auto;
  padding: 0 60px;
}

#logo {
  -webkit-tap-highlight-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  height: 80px;
  margin: 0 auto;
  outline: none;
  width: 228px;
}