@import '../../../../../styles/breakpoints';

@media #{$mat-gt-sm} {
  .details {
    display: flex;
    flex-direction: row;
  }

  .details iframe {
    margin-right: 16px;
  }

  .details p {
    margin: 0;
  }
}

.mat-button-toggle-group {
  margin-top: 16px;
}

:host ::ng-deep .mat-button-toggle-checked {
  background: #214d4e;
}

:host ::ng-deep .mat-button-toggle-checked button {
  color: #fff;
}
