@import '../../../../../styles/breakpoints';

@media #{$mat-gt-sm} {
  .details p {
    margin: 0;
  }
}

:host {
  border-bottom: 2px solid rgba(51, 51, 51, 0.05);
  display: block;
  padding-bottom: 16px;
  text-align: center;
}

.iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  background: rgba(51, 51, 51, 0.05);
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.coming-soon {
  padding: 16px 0;
  text-align: center;
  background: rgba(51, 51, 51, 0.05);
  margin: 0;
}

.mat-button-toggle-group {
  margin-top: 16px;
}

:host ::ng-deep .mat-button-toggle-checked {
  background: #214d4e;
}

:host ::ng-deep .mat-button-toggle-checked button {
  color: #fff;
}
